@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    
}

.react-icons {
    vertical-align: middle;
    height: 50px;
    width: auto;
    padding-right: 50px;
    
   
}

.className {
     display: flex;
    justify-content: center;
}


