@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.react-icons {
    vertical-align: middle;
    height: 30px;
   
}

.className {
     display: flex;
    justify-content: center;
}

